 <!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
	<meta charset="UTF-8">
	<title>파일게시판 - 상세페이지</title>
	</head>
	
	<body>
		<div>
			<div style="padding: 10px; text-align: center;">
				<h1><a th:href="@{/fileBoard/list}" style="text-decoration: none;">CrazyAcade - 자료실</a></h1>
			</div>
			
			<div>
				<div>
					<h4 style="font-weight: bolder;">상세내용</h4>
					<br/>
					<form role="form" th:object=${fileBoardVO} th:action="@{/fileBoard/list}" method="post">
						<div>
							<label style="font-weight: bolder;">제목</label>
							<p th:text="${detail.title}"></p>
							<input type="hidden" th:field="${detail.title}">
						</div>	
						<div>
							<label style="font-weight: bolder;">작성자</label>
							<p th:text="${detail.writer}"></p>
							<input type="hidden" th:field="${detail.writer}">
						</div>	
						<div>
							<label style="font-weight: bolder;">작성일자</label>
							<p th:text="${detail.reg_date}"></p>
						</div>	
						<div>
							<label style="font-weight: bolder;">첨부파일</label>
							<p>
								<a th:if="${file}" th:href="@{/fileBoard/fileDown/{bno}(bno=${file.b_no})}"
								 >[[${file.fileoriginname}]]</a>
							</p>
							<!--/* 잘 찍히나 확인 => <br>[[${file.b_no}]] */-->
						</div>	
						<div>
							<label for="" style="font-weight: bolder;">내용</label>
							<p th:text="${detail.content}"></p>
							<input type="hidden" th:field="${detail.content}">
						</div>
						<div style="text-align: right;">
							<input type="submit" th:value="목록" th:formaction="@{/fileBoard/list}">
							<input type="submit" th:value="수정" th:formaction="@{/fileBoard/update/{bno}(bno=${detail.b_no})}">
							<input type="submit" th:value="삭제" th:formaction="@{/fileBoard/delete/{bno}(bno=${detail.b_no})}">
						</div>
					</form>
				</div>
				
			</div>
		
		<br/><br/><br/>
		
		</div>
	</body>
</html>